<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771199074866-s2r58ou3ceaj87erhoj13psjl2upqk0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771199074866-s2r58ou3ceaj87erhoj13psjl2upqk0g</string>
	<!-- <key>API_KEY</key>
	<string>YOUR_GEO_API</string> -->
	<key>GCM_SENDER_ID</key>
	<string>771199074866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmwiseApp</string>
	<key>PROJECT_ID</key>
	<string>farmwise-458102</string>
	<key>STORAGE_BUCKET</key>
	<string>farmwise-458102.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771199074866:ios:010c5ad2b09495de4e322b</string>
</dict>
</plist>